* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 110%;
}

@media (max-width: 970px) {
  .rightNav img {
    display: none;
  }
}

@media (min-width: 900px) {
  .buttonscrol1 {
    display: none;
  }
}

@media (max-width: 900px) {
  .buttonscrol {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 100%;
  }
  .myAccountBox > .address, .eth, .neytoken {
    display: none;
  }
  .contributors {
    display: none;
  }
  .tokenSaleContainer .totalSuppy {
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .buttonContainer {
    max-width: 200px;
  }
  
}

@media (max-width: 630px) {
  .imgAbout {
    display: none;
  }
  .flex .neyContainer img {
    display: none;
  }
  .boxContribute .contributeContainer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .buyCoins {
    flex-direction: column;
  }
  .buyCoins .amountToBuy {
    margin-bottom: 2%;
  }
  .buyCoins .etherNey {
    margin-top: 1%;
  }
  .boxtoken {
    flex-direction: column;
  }
  .containerMiddle {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
  .team {
    margin-top: 9px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 80%;
  }
  .joinsale {
    padding-top: 12px;
  }
  .partner {
    padding-top: 15px;
    padding-bottom: 5px;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 75%;
  }
  .middleNav {
    display: none;
  }
  .titleICO {
    max-width: 125px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 70%;
  }
  .container .header1 {
    font-size: 1.85em;
  }
  .buttonContainer {
    max-width: 150px;
  }
  .boxContribute {
    padding-left: 10px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 60%;
  }
  .titleICO {
    max-width: 100px;
  }
}

body {
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(ellipse at top, #121415, transparent),
            radial-gradient(ellipse at bottom, #121415, transparent);
  padding: auto;
  margin: auto;
  color:#c7d2da;
}

nav {
  background-color: #181c1f;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto;
  border: 1px solid #323436af;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
}

.zapcoin {
  display: flex;
  max-width: 65px;
  max-height: 65px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}

.Neycoin {
  display: flex;
}

.titleICO {
  display: flex;
  align-items: center;
}
.titleICO > i {
  font-size: 1em;
  align-items: center;
}

.titleICO > div {
  width: 100%;
}

.middleNav {
  align-items: center;
  margin-left: auto;
  margin-right: 1%;
}

.rightNav {
  display:flex;
  align-items: center;
}

.rightNav img {
  max-width:50px;
  max-height:50px;
  width: 100%;
  margin-right: 10px;
}

.myAccountBox > .address, .eth, .neytoken {
  font-size:0.8em;
  color: white;
  opacity: 0.9;
  margin-right:10px;
  max-width: 110px;
  width:100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: none;
}

.joinsale {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 2.1em;
  color: #fff;
}

.allbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1000px;
  width:100% ;
  display: flex;
  justify-content:center;
  align-items: center;
  opacity: 0.95;
}

.containerMiddle {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
  max-width:500px;
  width: 100%;
  padding: 10px;
  color: #e9e6e6;
}

.flex {
  display: flex;
}

.buttonContainer > div{
  display: flex;
}

.buttonContainer {
  display: flex;
  padding-right: 20px;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.tokenSaleContainer {
   align-items: center;
   justify-content: center;
   max-width: 500px;
	 width: 100%;
	 background-color: #181c1f;
   box-shadow: 0px 1px 8px rgb(10, 10, 10);
   padding: 5px;
   border: 1px solid #323436af;
   margin: 5px;
   display: flex;
   border-radius: 15px;
}

.tokenSaleLeftSide {
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  max-height: 200px;
}

.tokensSold {
  display: flex;
  justify-content: space-between;
  font-size:1.2em;
  padding-bottom: 2px;
}

.contributors {
  display: flex;
  justify-content: space-between;
  font-size:1.2em;
  border-top: 1px solid #444647af;
  padding-top: 2px;
  padding-bottom: 2px;
}

.tokenSaleRightSide {
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
}

.titleTokenSale {
  font-size: 1.7em;
  color: #e9e6e6;
  max-width: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tokenSaleEnds {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  margin-top: 1%;
}
.time {
  margin-top: 3%;
}

.headerTime {
  font-weight: bold;
  font-size: 1.6em;
}
.Icons {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 8%;
}
.Icons i {
  font-size: 1.7em;
  color: #fff;
  opacity: 0.9;
}

.whatIs , .team , .roadmap, .contribute {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2em;
  color: #fff;
  opacity: 0.95;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 10px;
}

.team {
  font-size: 1.6em;
}

.contribute {
  display: none;
  max-width: 500px;
}

.textAreaWhatIs {
  padding-right: 10px;
  padding-left: 10px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.3em;
}

.whatIsHeader  {
  border-top: 1px solid #444649af;
  padding: 5px;
  font-size:1.2em;
  color: #a387ff;
  opacity:0.95;
  font-weight:bold;
  margin-bottom:1%;
  margin-top:2%;
}

.whatIsHeader1  {
  padding: 5px;
  font-size:1.2em;
  color: #a387ff;
  opacity:0.95;
  font-weight:bold;
  margin-bottom:2%;
}

.boxContribute {
  padding-right: 10px;
}

.contributeContainer {
  color: #e9e6e6;
  background-color: #181c1f;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #323436af;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 8px rgb(10, 10, 10);
}

.TextField {
  display: flex;
  width: 100%;
  max-width: 450px;
  background-color: #252a2e;
  border-radius:15px;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  align-items: center;
  font-size: 1.1em;
}

.textbnb {
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content:flex-end;
  padding-right: 10px;
}

input[type=text] {
  display: flex;
  max-width: 450px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  text-align: end;
  font-size: 1.3em;
}

.receive {
  width: 100%;
  max-width: 450px;
  background-color: #252a2e;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 23px;
  font-size: 1.1em;
}

.receive1 {
  max-width: 450px;
  width: 100%;
  text-align: end;
  padding-right: 10px;
}

.buyCoins {
  max-width: 500px;
  width: 100%;
  font-size: 1.3em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.amountToBuy {
  padding: 10px;
  font-weight:bold;
  color:white;
  opacity: 0.95;
  font-size: 1.1em;
}

.etherNey {
  padding: 10px;
  color:white;
  opacity:0.9;
}

.successfully {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1.6em;
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  background-color:#43A047;
  margin-top: 2%;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

.buttonBuy {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding: 10px;
}

.button1 {
  max-width: 450px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #784ffe;
  border:#121415;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: #5132b8;
}

.errorMessage {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  background-color:#D32E30;
  margin-top: 2%;
  color: white;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  border-radius: 20px;
}
.errorMessage > i {
  margin-right: 2%;
  font-size: 1.6em;
}
.loadingText {
  padding-top: 10px;
  font-size:1.7em;
  color:white;
  opacity:0.95;
  font-weight: bold;
}
.loadTextSub {
  font-size:1.2em;
  color:white;
  opacity:0.80;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.loadingContainer > div {
  margin-right: 2%;
}

.footer {
  background-color: #181c1f;
  border: 1px solid #323436af;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto;
  box-shadow: 0 1px 4px rgba(0,0,0,.5);
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  margin-top: 3%;
}

.boxtoken {
  max-width: 1000px;
  width: 10%;
  margin-top: 2%;
  display: flex;
}
.boxtoken2 {
  max-width: 500px;
  width: 100%;
  display: block;
}

.imgtokenomics img {
  display: flex;
  max-width:500px;
  max-height:500px;
  width: 100%;
  opacity: 0.95;
  margin-top: 5%;
}

.texthowbuy {
  max-width: 935px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.4em;
  padding-left: 10px;
  padding-right: 10px;
}

.boxhome {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 8%;
}

.boxtexthowtobuy {
  background-color: #181c1f;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #323436af;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 8px rgb(10, 10, 10);
}

.you {
  font-size: 0.7em;
  color: #c7d2da;
  padding: 1px;
}

.connect {
  max-width: 500px;
  max-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #784ffe;
  border:#121415;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px;
  transition-duration: 0.4s;
}

.connect:hover {
  background-color: #5132b8;
}

.meta {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction:rtl;
}

.bnbchain {
  display: flex;
  max-width: 40px;
  max-height: 40px;
  padding-right: 6px;
}

.zaplogo {
  display: flex;
  max-width: 110px;
  width: 100%;
}

.btthow {
  max-width: 200px;
  width: 100%;
  background-color: #181c1f;
  color: #fff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px;
  transition-duration: 0.3s;
}

.btthow:hover {
  background-color: #323436af;
  color:#fff;
}

.text1 {
  padding-left: 5px;
}

.box1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.partner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2.1em;
  color: #fff;
}

.container1 {
  background-color:#181c1f ;
  border: 1px solid #323436af;
  box-shadow: 0px 1px 8px rgb(10, 10, 10);
  border-radius: 15px;
  padding: 10px;
  max-width: 910px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container1 img {
  padding: 12px;
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  display: flex;
}

.neyadr {
  display: flex;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.copybutton {
  display: flex;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
  background-color: #181c1f;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-duration: 0.3s;
}

.copybutton:hover {
  background-color: #252a2e;
}
